.menu{
background-color: black;
color: white;


}

.menulista{


display: flex;

list-style-type: none;
justify-content: space-between;
font-size: 32px;
width: 800px;
margin: auto;
height: 50px;
align-items: center;
}